<div class="contenedor proximos-eventos">
    <h1><%= title %></h1>
    <div class="grid columnas-md-3 ">
    <% if (meetiArr.length) { %>
        <% meetiArr.forEach(meeti => { %>
                <div class="card">
                    <img src="/uploads/group/<%= meeti.group.image %> ">
                    <div class="card-texto">
                        <% moment.locale('es') %>
                        <% const date = meeti.date + ' ' + meeti.time %> 
                        <p class="fecha"><%= date %></p>
                        <a href="/meeti/<%= meeti.slug %>">
                            <h3><%= meeti.title %></h3>
                        </a>
                        <div class="info-autor">
                            <div class="imagen">
        
                            </div>
                            <div class="informacion">
                                <p>Organizado por:</p>
                                <p class="autor"><%= meeti.user.name %> </p>
                            </div>
                        </div>
        
                    </div>
                </div>
        <% }) %>
    <% } else { %>
        <p>No hay meeti's para esta categoría</p>
    <% } %>
    </div>
</div>